<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./appear (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,113}</string>
    <key>spriteSourceSize</key>
    <string>{64,125}</string>
    <key>textureRect</key>
    <string>{{0,0},{64,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./appear (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,112}</string>
    <key>spriteSourceSize</key>
    <string>{64,125}</string>
    <key>textureRect</key>
    <string>{{66,0},{64,112}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./appear (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{58,110}</string>
    <key>spriteSourceSize</key>
    <string>{64,125}</string>
    <key>textureRect</key>
    <string>{{0,115},{58,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./appear (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{56,115}</string>
    <key>spriteSourceSize</key>
    <string>{64,125}</string>
    <key>textureRect</key>
    <string>{{132,0},{56,115}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./appear (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{44,108}</string>
    <key>spriteSourceSize</key>
    <string>{64,125}</string>
    <key>textureRect</key>
    <string>{{60,115},{44,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./appear (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-4}</string>
    <key>spriteSize</key>
    <string>{28,92}</string>
    <key>spriteSourceSize</key>
    <string>{64,125}</string>
    <key>textureRect</key>
    <string>{{168,117},{28,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./appear (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{20,79}</string>
    <key>spriteSourceSize</key>
    <string>{64,125}</string>
    <key>textureRect</key>
    <string>{{106,115},{20,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./appear (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-9}</string>
    <key>spriteSize</key>
    <string>{34,82}</string>
    <key>spriteSourceSize</key>
    <string>{64,125}</string>
    <key>textureRect</key>
    <string>{{132,117},{34,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./appear (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-41}</string>
    <key>spriteSize</key>
    <string>{22,19}</string>
    <key>spriteSourceSize</key>
    <string>{64,125}</string>
    <key>textureRect</key>
    <string>{{106,196},{22,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{200,227}</string>
   <key>textureFileName</key>
   <string>apear.png</string>
  </dict>
 </dict>
</plist>
