<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./glow (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{24,24}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{242,236},{24,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{48,51}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{162,58},{48,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{48,51}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{50,172},{48,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{48,51}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{158,115},{48,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{48,51}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{100,172},{48,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{48,51}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{214,0},{48,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{48,52}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{164,0},{48,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (16)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,53}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{106,115},{50,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (17)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{50,54}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{54,115},{50,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (18)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,54}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{0,116},{52,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (19)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,54}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{108,58},{52,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,29}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{212,236},{28,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (20)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{52,56}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{56,0},{52,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (21)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{52,56}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{0,58},{52,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (22)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{54,56}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{0,0},{54,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (23)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{52,55}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{54,58},{52,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (24)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{52,55}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{110,0},{52,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (25)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-4}</string>
    <key>spriteSize</key>
    <string>{52,44}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{212,58},{52,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (26)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{40,39}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{42,225},{40,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (27)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{40,39}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{84,225},{40,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (28)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{40,37}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{166,225},{40,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{34,34}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{212,200},{34,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,39}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{126,225},{38,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{40,44}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{0,225},{40,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{42,45}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{212,153},{42,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{46,47}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{212,104},{46,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{46,49}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{150,172},{46,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./glow (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{48,51}</string>
    <key>spriteSourceSize</key>
    <string>{58,58}</string>
    <key>textureRect</key>
    <string>{{0,172},{48,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{268,271}</string>
   <key>textureFileName</key>
   <string>glow.png</string>
  </dict>
 </dict>
</plist>
