<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./mouse-click (1)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{10,9}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{102,110},{10,9}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (10)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{20,20}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{146,37},{20,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (11)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{22,21}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{144,68},{22,21}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (12)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{24,23}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{142,97},{24,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (13)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{24,23}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{142,122},{24,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (14)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{26,25}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{114,125},{26,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (15)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{114,97},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (16)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{28,27}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{114,68},{28,27}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (17)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{28,28}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{72,110},{28,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (18)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{30,29}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{114,37},{30,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (19)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{30,30}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{40,110},{30,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (2)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{10,10}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{14,148},{10,10}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (20)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{32,31}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,115},{32,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (21)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{32,31}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{116,0},{32,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (22)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{34,33}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{40,75},{34,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (23)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{34,33}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{78,37},{34,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (24)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{34,33}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{78,72},{34,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (25)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{36,35}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{40,38},{36,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (26)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{36,35}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{78,0},{36,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (27)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{36,35}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,78},{36,35}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (28)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{36,36}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{40,0},{36,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (29)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{38,37}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,0},{38,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (3)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{12,11}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,148},{12,11}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (30)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{38,37}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{0,39},{38,37}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (4)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{14,13}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{142,147},{14,13}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (5)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-3}</string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{150,17},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (6)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{16,15}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{150,0},{16,15}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (7)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{18,17}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{40,142},{18,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (8)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{18,17}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{94,140},{18,17}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./mouse-click (9)</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{20,19}</string>
    <key>spriteSourceSize</key>
    <string>{100,100}</string>
    <key>textureRect</key>
    <string>{{72,140},{20,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{168,162}</string>
   <key>textureFileName</key>
   <string>mouse-click.png</string>
  </dict>
 </dict>
</plist>
